<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add  key="ImageExtensions" value="jpeg,jpg,jif,jfif,gif,png,tiff,tif,pcd,ico" />
    <add  key="DocumentExtensions" value="doc,docm,docx,dot,pdf,rtf,txt" />
    <add  key="PresentationExtensions" value="key,ppt,pptx,ppsx,pptx" />
    <add  key="SpreadsheetExtensions" value="fff" />
    <add  key="CompressedFileExtensions" value="zip,rar,7z,bz2,gzip" />
    <add  key="SoundExtensions" value="3ga,m4a,m4p,mp2,mp3,mpga,ra,ram,wav,wma" />
    <add  key="VideoExtensions" value="3gp,avi,divx,flv,mov,mp4,mpeg,mpg,rm,swf,wmv" />
    <add  key="WebsiteExtensions" value="css,html,htm,js,json,php" />
  </appSettings>
</configuration>